{% extends "base.html" %}
{% block title %}Experience{% endblock %}

{% block content %}
<!-- <div class="timeline-container"> -->
  <h6 class="timeline-title" data-en="Experience" data-es="Experiencia laboral">Experience</h6>
  <div class="timeline">

    <div class="timeline-item right">
      <!-- <div class="timeline-dot"></div> -->
      <div class="timeline-content">
        <h3 data-en="Web Dev @ Hack The 6ix" data-es="Web Dev en Hack The 6ix">Web Dev @ Hack The 6ix</h3>
        <span class="timeline-date" data-en="Oct 2025 - Present" data-es="octubre 2025 - presente">Oct 2025 - Present</span>
        <p data-en="Contributed to web features and event infrastructure for Hack the 6ix, improving participant onboarding and scaling site traffic during registration peaks."
           data-es="Contribuyó a las funciones web y la infraestructura de eventos para Hack the 6ix, mejorando la incorporación de participantes y ampliando el tráfico del sitio durante los picos de registro.">
           Developed and maintained software solutions at Agfa to enhance medical imaging systems, improving diagnostic accuracy and workflow efficiency for healthcare professionals.
        </p>
      </div>
    </div>

    <div class="timeline-item right">
      <!-- <div class="timeline-dot"></div> -->
      <div class="timeline-content">
        <h3 data-en="Director of Publicity @ UWaterloo Women in Computer Science" data-es="Director de Publicidad en UWaterloo Women in Computer Science">Director of Publicity @ UWaterloo Women in Computer Science</h3>
        <span class="timeline-date" data-en="Sept 2025 - Present" data-es="septiembre 2025 - presente">Sept 2025 - Present</span>
        <p data-en="Managed the club's digital presence, leveraging analytics and automation tools to streamline publicity and grow community reach."
           data-es="Gestionó la presencia digital del club, aprovechando herramientas de análisis y automatización para optimizar la publicidad y aumentar el alcance de la comunidad.">
           Managed the club's digital presence, leveraging analytics and automation tools to streamline publicity and grow community reach.
      </p>
      </div>
    </div>

    <div class="timeline-item left">
      <!-- <div class="timeline-dot"></div> -->
      <div class="timeline-content">
        <h3 data-en="Software Engineer @ AGFA" data-es="Ingeniero de Software en Agfa">Software Intern @ AGFA</h3>
        <span class="timeline-date" data-en="May 2025 - Sept 2025" data-es="mayo 2025 - septiembre 2025">May 2025 - Sept 2025</span>
        <p data-en="Developed and maintained software solutions at Agfa to enhance medical imaging systems, improving diagnostic accuracy and workflow efficiency for healthcare professionals."
           data-es="Desarrolló y mantuvo soluciones de software en Agfa para mejorar los sistemas de imágenes médicas, aumentando la precisión diagnóstica y la eficiencia del flujo de trabajo para los profesionales de la salud.">
           Developed and maintained software solutions at Agfa to enhance medical imaging systems, improving diagnostic accuracy and workflow efficiency for healthcare professionals.
        </p>
      </div>
    </div>

    <div class="timeline-item right">
      <!-- <div class="timeline-dot"></div> -->
      <div class="timeline-content">
        <h3 data-en="Junior Systems Architect @ Mishra Buisness Intelligence Services" data-es="Arquitecto de Sistemas Junior en Mishra Buisness Intelligence Services">Junior Systems Architect @ Mishra Buisness Intelligence Services</h3>
        <span class="timeline-date" data-en="May 2024 - Sept 2024" data-es="mayo 2024 - septiembre 2024">May 2024 - Sept 2024</span>
        <p data-en="Developing and optimizing scalable system architectures for enhanced business performance."
           data-es="Desarrollo y optimización de arquitecturas de sistemas escalables para mejorar el rendimiento empresarial.">
           Developing and optimizing scalable system architectures for enhanced business performance.
        </p>
      </div>
    </div>

    <div class="timeline-item left">
      <!-- <div class="timeline-dot"></div> -->
      <div class="timeline-content">
        <h3 data-en="Computer Science Instructor" data-es="Instructor de Informática">Computer Science Instructor</h3>
        <span class="timeline-date" data-en="Sept 2022 - Mar 2023" data-es="septiembre 2022 - marzo 2023">Sept 2022 - Mar 2023</span>
        <p data-en="Computer Science Instructor to a class of 30 students."
           data-es="Instructor de Ciencias de la ComputaciónInstructor de Ciencias de la Computación a una clase de 30 estudiantes.">
           Computer Science Instructor to a class of 30 students.
        </p>
      </div>
    </div>

    <!-- Add more timeline items here -->

  </div>
<!-- </div> -->
{% endblock %}
